* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border: 0;
  font-family: "Baloo Paaji 2", cursive;
}

body {
  margin: 0;
  color: #fff;
  background-image: url(../dark-grey-terrazzo.png);
}

.conteiner {
  padding: 5px;
  min-width: 540px;
  max-width: 920px;
  margin: 100px auto;
  background-color: #3f3f3f;
  border-radius: 20px;
  border: solid 5px #fff;
}
.conteiner header h1 {
  display: inline-flex;
  margin: 0;
  padding: 0 40px;
}
.conteiner header ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  bottom: 5px;
  position: relative;
}
.conteiner header ul li {
  margin: 0px 15px;
  display: flex;
}
.conteiner header ul li:not(:first-of-type)::before {
  content: "";
  display: inline-flex;
  position: relative;
  top: 4px;
  right: 15px;
  width: 20px;
  height: 20px;
  background-color: #53B1C2;
  border-radius: 5px;
}
.conteiner .links {
  display: flex;
  background-color: #3f3f3f;
}
.conteiner .links ul {
  padding: 0;
  margin: 0;
  width: 410px;
}
.conteiner .links ul a {
  background-color: #E6E6E6;
  color: green;
  border-radius: 7px;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  transition-duration: 0.7s;
}
.conteiner .links ul a:hover {
  background: linear-gradient(90deg, #6B0034, #00696B);
  border-radius: 7px;
  height: 50px;
}
.conteiner .links ul a li {
  display: flex;
  padding: 5px;
  border-radius: 10px;
  width: 400px;
}
.conteiner .links ul a li img {
  width: 40px;
  height: 40px;
}
.conteiner .links ul a li p {
  margin: 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
