::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track-piece {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background: #272c35;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: #097eeb;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 10px;
  background: #272c35;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #097eeb;
}

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border: 0;
  font-family: "Baloo Paaji 2", cursive;
}

body {
  margin: 0;
  color: #fff;
  background-image: url(../dark-grey-terrazzo.png);
}

.conteiner {
  padding: 5px;
  min-width: 540px;
  max-width: 920px;
  margin: 100px auto;
  background-color: #000;
  border-radius: 20px;
  border: solid 5px #fff;
}
.conteiner header h1 {
  display: inline-flex;
  margin: 0;
  padding: 0 40px;
}
.conteiner header ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  bottom: 5px;
  position: relative;
}
.conteiner header ul li {
  margin: 0px 15px;
  display: flex;
  font-weight: 600;
}
.conteiner header ul li:not(:first-of-type)::before {
  content: "";
  display: inline-flex;
  position: relative;
  top: 4px;
  right: 15px;
  width: 20px;
  height: 20px;
  background-color: #097eeb;
  border-radius: 5px;
}
.conteiner .links {
  display: inline-flex;
  background-color: #000;
}
.conteiner .links ul {
  padding: 0;
  margin: 0;
  width: 410px;
}
.conteiner .links ul a {
  animation: animateLeft 1.4s linear infinite paused;
  background-color: #fff;
  color: #097eeb;
  border-radius: 7px;
  margin: 3px;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
}
.conteiner .links ul a:hover {
  animation-play-state: running;
  background: linear-gradient(90deg, #fff 0%, #097eeb 5%, #097eeb 35%, #fff 40%);
}
.conteiner .links ul a li {
  display: flex;
  padding: 5px;
  border-radius: 10px;
  width: 400px;
}
.conteiner .links ul a li img {
  width: 40px;
  height: 40px;
}
.conteiner .links ul a li p {
  margin: 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.conteiner .skills {
  display: inline-grid;
  width: 52%;
  vertical-align: top;
  max-height: 336px;
  overflow: auto;
}
.conteiner .skills p {
  margin: 0;
  margin-top: 16px;
}

@keyframes animateLeft {
  100% {
    background-position: 400px 0;
  }
}
